@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form action="" method="post">
        <div>
            @RenderPage("~/_allUserAdmin.cshtml")
            <a href="~/AboutUsers.cshtml">Back</a>
        </div>
    </form>
</body>
</html>
