@using System;
@using Epam.Task7.Users.BLL.Interface;
@using Epam.Task7.Users.Common;
@using Epam.Task7.Users.Entities;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form action="/AllUsers" method="post" id="users">
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/LogOut">Log out</a>
                if (User.IsInRole("Admin"))
                {
                    <p>Admin</p>
                }
            }
            else
            {
                <a href="~/LogIn">Log in</a>
            }
            <p>Hello, @User.Identity.Name</p>

           
            @if (User.IsInRole("User"))
            {
                <a href="~/AllInfoUser">Users and Awards</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <a href="/AllUsers">Users</a>
                <a href="~/AllAwards">Awards</a>
                <a href="~/AllInfoUser">Users and Awards</a>
                <a href="~/AboutUsers">User's politics</a>
            }

        </div>
    </form>
</body>
</html>
