@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="AllUserAdmin.cshtml">Show all</a>
        <a href="~/AddNewUser.cshtml">Add new user</a>
        <a href="~/DeleteUserAdmin.cshtml">Delete user</a>
        <a href="~/UpdateUserAdmin.cshtml">Update user</a>
        <a id="back" href="~/Index.cshtml">Back</a>
    </div>
</body>
</html>
