@using Epam.Blog.Bll;
@using Epam.Blog.Entities;
@{
    Page.Title =
    Layout = "~/admin/_AdminLayout.cshtml";
    WebUserBll webUserBll = new WebUserBll();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @if (webUserBll.HasRole(UsersRolesMap.Admin))
        {
            <h1>You can see all logs to the path "your project/logs" </h1>
        }
</div>
    </body>
</html>
