@using Epam.Blog.Bll
@{
    Layout = "~/_SiteLayout.cshtml";
    PostBll postBll = new PostBll();
    var posts = postBll.SelectAllUserPublishedPostsAndTags();
    var md = new MarkdownSharp.Markdown();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach (var post in posts)
        {
            @RenderPage("~/_post.cshtml", post, md)
        }
    </div>
</body>
</html>