* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	padding: 70px 10px;
}

.conteiner {
	background: #88B7D5;
	border: 3px solid #C2E1F5;
	color: #fff;
	min-height: 70px;
	text-align: center;
	width: 100%;
}

.conteiner::after {
	background: #88B7D5;
	border: 3px solid #C2E1F5;
	border-bottom: none;
	border-right: none;
	content:'';
	height: 50px;
	left: calc(50% - 25px);
	position: absolute;
	top: 45px;
	transform: rotateZ(45deg);
	width: 50px;
}

p {
	background: #88B7D5;
	padding: 23px 10px;
	position: relative;
	width: 100%;
	z-index: 2;
}
