USE [master]
GO
/****** Object:  Database [C:\USERS\123\SOURCE\REPOS\EPAM.TASK7_1\EPAM.TASK7\USERAWARDSDB.MDF]    Script Date: 16.02.2019 19:59:12 ******/
CREATE DATABASE [C:\USERS\123\SOURCE\REPOS\EPAM.TASK7_1\EPAM.TASK7\USERAWARDSDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserAwardsDb', FILENAME = N'D:\EPAM\UserAwardsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserAwardsDb_log', FILENAME = N'D:\EPAM\UserAwardsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\123\SOURCE\REPOS\EPAM.TASK7_1\EPAM.TASK7\USERAWARDSDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\123\SOURCE\REPOS\EPAM.TASK7_1\EPAM.TASK7\USERAWARDSDB.MDF]
GO
USE [C:\USERS\123\SOURCE\REPOS\EPAM.TASK7_1\EPAM.TASK7\USERAWARDSDB.MDF]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 16.02.2019 19:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[photoLink] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[PhotoUserLink] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAdmin]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAdmin](
	[login] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[adminOrUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersAwards]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersAwards](
	[IdUser] [int] NOT NULL,
	[IdAward] [int] NOT NULL,
 CONSTRAINT [PK_UsersAwards] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC,
	[IdAward] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('https://www.meme-arsenal.com/memes/83830fd17734cb4c59b3beefc0fd24f1.jpg') FOR [PhotoUserLink]
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddAward]
	@Title nvarchar(50),
	@photoLink nvarchar(max)
AS
	INSERT INTO [dbo].[Awards] (Title, photoLink)
	VALUES (@Title, @photoLink)
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
	@Name nvarchar(50),
	@DateOfBirth Date,
	@photoUserLink nvarchar(MAX)
AS
	INSERT INTO [dbo].[User] (UserName, DateOfBirth, PhotoUserLink)
	VALUES (@Name, @DateOfBirth, @photoUserLink)
GO
/****** Object:  StoredProcedure [dbo].[AddUserAdmin]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUserAdmin]
	@login nvarchar(50),
	@pass nvarchar(50),
	@adminOrUser int
AS
	INSERT INTO [dbo].[UserAdmin] (login, pass, adminOrUser)
	VALUES (@login, @pass, @adminOrUser)
GO
/****** Object:  StoredProcedure [dbo].[AddUserAward]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUserAward]
	@IdUser int,
	@IdAward int
AS
	INSERT INTO [dbo].[UsersAwards] (IdUser, IdAward)
	VALUES (@IdUser, @IdAward)
GO
/****** Object:  StoredProcedure [dbo].[AllUsers]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AllUsers]
	
AS
	SELECT S.Id,
			S.UserName,
			S.DateOfBirth,
			S.PhotoUserLink
		FROM [dbo].[User] S
GO
/****** Object:  StoredProcedure [dbo].[DelAward]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelAward]
	@id int 
AS
	DELETE FROM [dbo].[Awards] WHERE [Id]=@id
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
	@id int
AS
	DELETE FROM [dbo].[User] WHERE [Id]=@id
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserAdmin]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserAdmin]
	@login nvarchar(50)
AS
	DELETE FROM [dbo].[UserAdmin] WHERE [login]=@login
GO
/****** Object:  StoredProcedure [dbo].[DelUserAward]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DelUserAward]
	@IdUser int,
	@IdAward int
AS
	DELETE FROM [dbo].[UsersAwards] WHERE ([IdUser]=@IdUser) AND ([IdAward]=@IdAward)
GO
/****** Object:  StoredProcedure [dbo].[GetAllAwards]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAwards]
	
AS
	SELECT S.Id, S.Title, S.photoLink FROM [dbo].[Awards] S
GO
/****** Object:  StoredProcedure [dbo].[GetAllUserAdmin]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUserAdmin]
	
AS
	SELECT S.login, S.pass, S.adminOrUser FROM [dbo].[UserAdmin] S
GO
/****** Object:  StoredProcedure [dbo].[GetAllUserAward]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUserAward]
	
AS
	SELECT S.IdUser, S.IdAward FROM [dbo].[UsersAwards] S
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
	@Name nvarchar(50),
	@id int,
	@DateOfBirth Date,
	@photoUserLink nvarchar(50)
AS
	UPDATE [dbo].[User] SET [UserName]=@Name, [DateOfBirth]=@DateOfBirth, [PhotoUserLink]=@photoUserLink WHERE [Id]=@id
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserAdmin]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserAdmin]
	@login nvarchar(50),
	@pass nvarchar(50),
	@adminOrUser int
AS
UPDATE [dbo].[UserAdmin] SET [pass]=@pass, [adminOrUser]=@adminOrUser WHERE [login]=@login
GO
/****** Object:  StoredProcedure [dbo].[UpdAward]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdAward]
	@id int,
	@Title nvarchar(50),
	@photoLink nvarchar(50)
AS
	UPDATE [dbo].[Awards] SET [Title]=@Title, [photoLink]=@photoLink WHERE [Id]=@id
GO
/****** Object:  StoredProcedure [dbo].[UpdUserAward]    Script Date: 16.02.2019 19:59:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdUserAward]
	@IdUser int,
	@IdAward int
AS
	UPDATE [dbo].[UsersAwards] SET [IdAward]=@IdAward WHERE [IdUser]=@IdUser
GO
USE [master]
GO
