@using Epam.TaskFinal.Blog.App_Code.Data;
@{
    Layout = "~/_SiteLayout.cshtml";

    var posts = PostRepository.GetPublishedPosts(10);
    var md = new MarkdownSharp.Markdown();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach (var post in posts)
        {
        @RenderPage("~/_post.cshtml", post, md)
        }
    </div>
</body>
</html>
