<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\123\Documents\UserAwardsDb.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="DaoUsersKey" value="memory"/>
 <add key="DaoAwardsKey" value="memory"/>
 <add key="DaoUserAwardsKey" value="memory"/>
</appSettings>
</configuration>